@use "sass:list";
@use 'text';
@use 'form';
@use 'button';

@import 'variables';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 450;
  box-sizing: border-box;

  word-spacing: 1px;

  scroll-behavior: smooth;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background: $color-bg-light;
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

.content-container {
  display: block;
  position: relative;

  width: 100%;
  height: 100%;

  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-right: auto;
  margin-left: auto;
}

@for $i from 1 through list.length($breakpoints) {
  $breakpoint: list.nth($breakpoints, $i);
  $size: list.nth($breaksizes, $i);

  @media screen and (min-width: $breakpoint) {
    .content-container {
      max-width: $size;
    }
  }
}

