@import "variables";

h1 {
  color: $color-primary;
  font-weight: bold;
}

h2 {
  color: $color-primary;
  font-weight: semi-bold;
}

h3,
h4,
h5,
h6,
h4 {
  color: $color-text;
  font-weight: semi-bold;
}

a {
  color: $color-primary;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;

  &:hover { color: $color-secondary; }
}

p {
  color: $color-text;
  line-height: 1.4;
}